.elemento {
    display: flex;
    align-items: flex-end;
}


* {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.tachado {
    color: grey;
    text-decoration: line-through;
}

input[type="checkbox"]{
    accent-color: rgb(0, 0, 179);
}

#lista_de_elementos {
    display: flex;
    flex-direction: column;
}

.basura {
    width: 20px;
    height: auto;
}

.basura:hover {
    cursor: pointer;
}

.pequeElemento{
    display: flex;
    align-items: center;
    width: 16rem;
}