.elemento {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    
}

body {
    align-items: center;
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
}

.myCheckbox{
    margin-right: 1rem;
}

* {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
}

.tachado {
    color: grey;
    text-decoration: line-through;
}

input[type="checkbox"]{
    accent-color: rgb(0, 0, 179);
}

#lista_de_elementos {
    display: flex;
    flex-direction: column;
}

.basura {
    width: 20px;
    height: auto;
    margin-left: 10px;
}

.basura:hover {
    cursor: pointer;
}

.pequeElemento{
    display: flex;
    align-items: center;
    min-width: 20rem;
    padding: .5rem;
}

.fondo-oscuro {
    background-color: rgb(245, 246, 252);
}

.btn {
    padding: 0.5rem;
    background-color: #fff;
    border: solid 3px rgb(213, 216, 235);
    border-radius: 7px;
    color: #161616;
}

.btn:hover {
    background-color: rgb(245, 246, 252);
    border-color: rgb(221, 226, 252);
    cursor: pointer;
    transition: background-color .5s, border-color .5s;
}

#elementContent {
    width: 11.5rem;
    border-radius: 3px;
    border: solid 2px #f1f1f1;
    padding: .2rem;
}

#elementContent:focus {
    outline: none;      /* Remove default outline and use border or box-shadow */
  box-shadow: -2px 2px 0 0 rgb(193, 202, 250);
}

#newToDO, #showToDo {
    width: 21rem;
    display: flex;
    justify-content: space-between;
}

#newToDO {
    margin-top: 1rem;
}

#showToDo{
    justify-content: center;
}

#showTarea{
    min-width: 20rem;
    background-color: #f1f1f1;
    height: 1rem;
    padding: 1rem;
    border-radius: 3px;
    margin-top: .5rem;
}

.divider {
    width: 50rem;
    height: 2px;
    background-color: #e6e6e6;
    margin: 1rem 0 ;
}